#container{
	width: 500px;
	margin: 80px auto;
	text-align: center;
}
h1#logo{
	width: 250px;
	height: 100px;
	background: url('google.png') top left no-repeat;
	background-size: 100%;
	text-indent: -9999px;
	margin: 0 auto;
	
}

input[type="text"]{
	width: 600px;
	padding:  10px;
	margin: 25px 0 15px;
	border: solid 1px #ccc;
	font-size: 16px;
}

input[type="text"]:hover{
	border-color: #aaa;
}

input[type="submit"]{
	background: #eee;
	color: #333;
	border: solid 1px #ddd;
	padding: 5px;
	font-size: 10px;
	font-family: Arial;
}

input[type="submit"]:hover{
	cursor: pointer;
}

.navbar-transparent {
  background-color: transparent;
  border-bottom: none;
}